<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/sh/shCore.css" rel="stylesheet" />
    <link href="~/Content/sh/shThemeDefault.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RAR Reports", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Client
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ClientReport">No Nickname</a></li>
                            <li><a href="/ClientReport/NoBday">No Birthday</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Client Birthdays
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ClientReport/Bday?mon=1">January</a></li>
                            <li><a href="/ClientReport/Bday?mon=2">February</a></li>
                            <li><a href="/ClientReport/Bday?mon=3">March</a></li>
                            <li><a href="/ClientReport/Bday?mon=4">April</a></li>
                            <li><a href="/ClientReport/Bday?mon=5">May</a></li>
                            <li><a href="/ClientReport/Bday?mon=6">June</a></li>
                            <li><a href="/ClientReport/Bday?mon=7">July</a></li>
                            <li><a href="/ClientReport/Bday?mon=8">August</a></li>
                            <li><a href="/ClientReport/Bday?mon=9">September</a></li>
                            <li><a href="/ClientReport/Bday?mon=10">October</a></li>
                            <li><a href="/ClientReport/Bday?mon=11">November</a></li>
                            <li><a href="/ClientReport/Bday?mon=12">December</a></li>

                        </ul>
                    </li>
                    <li><a href="/Login/LogOff">Log out</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RAR Reports</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/MVCGridHandler.axd/script.js"></script>
    <script src="~/Content/sh/shCore.js"></script>
    <script src="~/Content/sh/shBrushJScript.js"></script>
    <script src="~/Content/sh/shBrushCSharp.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
